/* @tailwind base; */
/* @tailwind components; */

/* 
@tailwind utilities;
@import "tailwindcss/preflight" */

* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0;
}